include README.rst
include CHANGELOG.rst
include LICENSE.rst
include setup.cfg

recursive-include legaltext/locale *
recursive-include legaltext/templates *

recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.x.xml
